.contactContainer {
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 25px;
  height: 80px;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.namePhone {
  display: flex;
  gap: 5px;
}

.contactDelete {
  height: 45px;
}
